[submodule "emacs/extensions/use-package"]
	path = emacs/extensions/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "emacs/extensions/dash"]
	path = emacs/extensions/dash
	url = https://github.com/magnars/dash.el.git
[submodule "emacs/extensions/with-editor"]
	path = emacs/extensions/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "emacs/extensions/compat"]
	path = emacs/extensions/compat
	url = https://github.com/emacs-compat/compat.git
[submodule "emacs/extensions/magit"]
	path = emacs/extensions/magit
	url = https://github.com/magit/magit.git
[submodule "emacs/extensions/swiper"]
	path = emacs/extensions/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "emacs/extensions/company-mode"]
	path = emacs/extensions/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "emacs/extensions/yaml-mode"]
	path = emacs/extensions/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "emacs/extensions/move-dup"]
	path = emacs/extensions/move-dup
	url = https://github.com/wyuenho/move-dup.git
[submodule "emacs/extensions/ace-window"]
	path = emacs/extensions/ace-window
	url = https://github.com/abo-abo/ace-window.git
[submodule "emacs/extensions/avy"]
	path = emacs/extensions/avy
	url = https://github.com/abo-abo/avy.git
[submodule "emacs/extensions/dracula-theme"]
	path = emacs/extensions/dracula-theme
	url = https://github.com/dracula/emacs.git
[submodule "emacs/extensions/which-key"]
	path = emacs/extensions/which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "emacs/extensions/evil-nerd-commenter"]
	path = emacs/extensions/evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter.git
[submodule "emacs/extensions/ws-butler"]
	path = emacs/extensions/ws-butler
	url = https://github.com/lewang/ws-butler.git
[submodule "emacs/extensions/default-text-scale"]
	path = emacs/extensions/default-text-scale
	url = https://github.com/purcell/default-text-scale.git
[submodule "emacs/extensions/async"]
	path = emacs/extensions/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "emacs/extensions/magit-todos"]
	path = emacs/extensions/magit-todos
	url = https://github.com/alphapapa/magit-todos.git
[submodule "emacs/extensions/f"]
	path = emacs/extensions/f
	url = https://github.com/rejeep/f.el.git
[submodule "emacs/extensions/s"]
	path = emacs/extensions/s
	url = https://github.com/magnars/s.el.git
[submodule "emacs/extensions/hl-todo"]
	path = emacs/extensions/hl-todo
	url = https://github.com/tarsius/hl-todo.git
[submodule "emacs/extensions/pcre2el"]
	path = emacs/extensions/pcre2el
	url = https://github.com/joddie/pcre2el.git
[submodule "emacs/extensions/projectile"]
	path = emacs/extensions/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "emacs/extensions/lsp-mode"]
	path = emacs/extensions/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode.git
[submodule "emacs/extensions/lsp-ui"]
	path = emacs/extensions/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui.git
[submodule "emacs/extensions/yasnippet"]
	path = emacs/extensions/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "emacs/extensions/yasnippet-snippets"]
	path = emacs/extensions/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "emacs/extensions/auto-yasnippet"]
	path = emacs/extensions/auto-yasnippet
	url = https://github.com/abo-abo/auto-yasnippet.git
[submodule "emacs/extensions/multiple-cursors"]
	path = emacs/extensions/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "emacs/extensions/emacs-rime"]
	path = emacs/extensions/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime.git
