[submodule "emacs/extensions/use-package"]
	path = emacs/extensions/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "emacs/extensions/dash"]
	path = emacs/extensions/dash
	url = https://github.com/magnars/dash.el.git
[submodule "emacs/extensions/with-editor"]
	path = emacs/extensions/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "emacs/extensions/compat"]
	path = emacs/extensions/compat
	url = https://github.com/emacs-compat/compat.git
[submodule "emacs/extensions/magit"]
	path = emacs/extensions/magit
	url = https://github.com/magit/magit.git
[submodule "emacs/extensions/org-mode"]
	path = emacs/extensions/org-mode
	url = https://code.orgmode.org/bzg/org-mode.git
[submodule "emacs/extensions/swiper"]
	path = emacs/extensions/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "emacs/extensions/company-mode"]
	path = emacs/extensions/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "emacs/extensions/yaml-mode"]
	path = emacs/extensions/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
